.contact-form {
  .container {
    padding: 90px 15px;
    border-bottom: 2px solid map-get($color, border);
    margin-bottom: 1px;
  }
}
.list-users {
  .container {
    border-top: 1px solid map-get($color, border);
    padding: 90px 0;
  }

}
.home-title {
  padding-bottom: 20px;
  text-transform: uppercase;
  margin: 0 0 50px;
  text-align: center;
  background: url(./images/line_star.png) no-repeat 50% 100%;
}
.comment {
  p {
    margin-bottom: 0;
  }
}
.alert {
  @include border-radius(4px);
  text-align:left;
  padding: 15px 0;
  max-width: 500px;
  right: 0;
  position: absolute;
  display: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  .alert-icon{
    @include border-radius(50%);
    color: map-get($color, white);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    line-height: 22px;
    background: map-get($color, green);
    display: inline-block;
    text-align: center;
  }
  .alert-content {
    padding: 0 60px;
    p {
      margin-bottom: 0;
    }
  }
  .alert-close {
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }
}
.alert-success {
  background-image: -webkit-linear-gradient(top, map-get($color, green-b) 0, map-get($color, green-c) 100%);
  background-image: -o-linear-gradient(top, map-get($color, green-b) 0, map-get($color, green-c) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(map-get($color, green-b)), to(map-get($color, green-c)));
  background-image: linear-gradient(to bottom, map-get($color, green-b) 0, map-get($color, green-c) 100%);
  background-repeat: repeat-x;
  border-color: map-get($color, green-a);
  color: map-get($color, green);
}

@include respond-below(small) {
  .form-group {
    width: 100%;
  }
}
