
.page-header {
  @include box-shadow( 0 2px 5px 0 map-get($color, rgba-black));
  background: map-get($color, white-c);
  padding: 20px 0;
  text-align: center;
}
.topnav {
  text-align: center;
  li {
    display: inline-block;
    a {
      display: block;
      color: map-get($color, secondary);
      text-transform: uppercase;
      text-decoration: none;
      line-height: 60px;
      padding: 0 20px;
    }
  }
}
