// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);
$color: (
  primary: #30b9c1,
  hover-color: #13a6b6,
  secondary: #424242,
  border: #e0e0dd,
  white: #ffffff,
  white-c: #fcfcfc,
  white-e: #eeeeee,
  rgba-black: rgba(0, 0, 0, 0.07),
  rgba-black-a: rgba(0, 0, 0, 0.15),
  rgba-black-b: rgba(0, 0, 0, 0.025),
  red: #d35344,
);
$font-size: (
  sm: 12px,
  normal: 14px,
  lg: 28px,
);
$font-family: (
  body: "montserrat, sans-serif",
);
